.movie-video-container {
  background-color: #000000;
  padding-bottom: 32px;
  min-height: 100vh;
}

.image {
  width: 100%;
}

.movies-container {
  width: 90%;
  margin: auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .movies-container {
    max-width: 1110px;
  }
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
}
